# EditorConfig: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Formatting
# Do not specify indent size, which is a user preference.
[*]
charset = utf-8
end_of_line = lf
indent_style = tab
insert_final_newline = true
